/*---------------------------------картинки----------------------------------------*/
.img1{
    border-left: 10px;
   
}

.conteiner{
    display: flex;
    background-color: #C0B9FA;
    width: 1000px;

}

.cont{
    display: flex

}

.rare{
    margin-top: 10px;
    margin-left: 5px;
}


/*----------------------------knopka-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hi+Melody&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hi+Melody&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hi+Melody&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Bubbles&family=Staatliches&display=swap');
.button1{
    margin-right: 50px;
    background-color: #C0B9FA;
    font-size: 20px;
    width: 65px;
    height: 30px    ;
    font-family: "Hi Melody";
    margin-top: 42px ;
    border: solid;
    border-color: #C0B9FA;
    color: #6a0080;
     transition: 0.2s;
}
.button1:hover{
    font-size: 22px;
    color: #000000;

}
.button2{
     margin-right: 50px;
    background-color: #C0B9FA;
    font-size: 20px;
    width: 65px;
    height: 30px    ;
    font-family: "Hi Melody";
    margin-top: 42px ;
    border: solid;
    border-color: #C0B9FA;
    color: #6a0080;
     transition: 0.2s;
}
.button2:hover{
    font-size: 22px;
    color: #000000;
}
.button3{
    margin-right: 50px;
    background-color: #C0B9FA;
    font-size: 20px;
    width: 65px;
    height: 30px    ;
    font-family: "Hi Melody";
    margin-top: 42px ;
    border: solid;
    border-color: #C0B9FA;
    color: #6a0080;
     transition: 0.2s;
}
.button3:hover{
    font-size: 22px;
    color: #000000;
}
.button4{
    margin-right: 50px;
    border-color: #C0B9FA;
    background-color: #C0B9FA;
    font-size: 20px;
    width: 65px;
    height: 30px    ;
    font-family: "Hi Melody";
    margin-top: 42px ;
    border: solid;
    border-color: #C0B9FA;
    color: #6a0080;
     transition: 0.2s;
}
.button4:hover{
    font-size: 22px;
    color: #000000;
}



.Dragon{
    font-size: 32px;
    font-family: "Hi Melody";
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 35px;
    border: solid;
    border-color: #C0B9FA;


}

.romy{
        font-size: 36px;
        font-family: "Staatliches", sans-serif;
        margin-left: 20px;

}
.kavarna{
    font-size: 24px;
    color: #B84BBE;
    
}

.tak{
    margin-left: 30px;
    margin-top: 30px;
    font-size: 17px;
}
.yellow{
    border: 0.7rem solid;
    border-color: #FFDB8E;
    margin-left: 5px;
    width: 910px;
}
.opa{
    margin-top: -22px;
}
.black{
    background-color: black;
    width: 1000px;
    height: 350px;
    margin-top: 50px;
}
.co{
    display: flex;
    color: rgb(114, 114, 114);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img4{
    margin-left: 141px;
    margin-right: 40px;
    margin-top: 19px;
    
}
.img5{
     margin-right: 40px;
     margin-left: 0px;
     margin-top: 19px;
}
.img6{
    margin-top: 19px;
    margin-right: 141px;
}
.p1{
    margin-top: 11px;
    margin-left: 202px;
    margin-right: 107px;
    margin-bottom: 30px;
}
.p2{
    margin-top: 11px;
    margin-right: 75px;
    margin-bottom: 30px;
}
.p3{
    margin-top: 11px;
    margin-right: px;
    margin-bottom: 30px;
}

.c{
    margin-top: 0px;
    display: flex;
    background-color: #9A4C4C;
    width: 930px;
}
.p4{
    color: #FFFF;   
    margin-top: 250px;
    font-size: 29px;

}
.img7{
    margin: 60px;
    margin-right: 5px;
}
.img8{
    margin: 60px;
    margin-left: 5px;
}
.pa{
    font-family: fantasy;
    font-size: 36px;
    margin: 14px;
margin-left: 34px;    
}
.ada{
    display: flex;
}
.aba{
    display: flex;
}
.ro{
    background-color: #A46C44;
    width: 150px;
    height: 160px;
    font-size: 24px;
    margin-left: 170px;
    margin-top: -90px;
    border: 0.5rem solid;
    border-radius: 30px;
    border-color: #502b11 ;
    margin-right: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 320px;
}
.pop{
    margin-left: 15px;  
}
.ck{
background-color: #983535;
width: 170px;
height: 70px;
border: 0.5rem solid;
border-color: #521616;
border-radius: 30px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 120px;
margin-left: 160px;
margin-right: 60px;
}
.img30{
    margin-top: -90px;
}
.but{
    margin: 80px;
    margin-left: 360px;
    background-color: #C573D9;
    border: 0.18rem solid;
    border-color: #000000;
    border-radius: 20px;
    color: white;
    width: 210px;
    height: 74px;
    font-size: 15px; 
    transition: 0.3s;
    
}
.but:hover{
    background-color: black;
    border-color: #C573D9;
    color: #C573D9;
}
.p43{
    color: #0D1B74;
    font-size: 54px;
    margin-left: 370px;
}
.re{
    margin-bottom: 70px;
}
.pere{
    border-radius: 30px;
    background-color: #0A7D00;
    border:  solid;
    border-color: #24B124;
    color: white;
    width: 190px;
    height: 50px;
    font-size: 18px;
}
.pere:hover{
    width: 200px;
    height: 53px;
    font-size: 20px;
    background-color: #084902;
    border-color: #1a811a;
}
.im{
    margin-top: 0px;
}
.ret{
    position: relative;
    text-align: center;


}
.texte{
position: absolute;
top: 50%;
left: 52%;
transform: translate(-10%,-550%);
font-size: 24px;
color: rgb(13, 226, 13);
text-decoration: underline;
text-decoration-style: wavy;
text-underline-offset: 5px;
 
}
.text {
position: absolute;
bottom: 37%;
left: 58%;
transform: translateX(-50%);
font-size: 22px;
color: white;
font-style: italic; 
}
.fer{
position: absolute;
bottom: 17%;
left: 67%;
transform: translateX(-50%);
border: 0.2rem solid;
border-color: #24B124;
border-radius: 30px;
background-color: #0A7D00;
color: white;
width: 158px;
height: 49px;
transition: 0.3s;
}
.fer:hover{
    border-color: #0A7D00;
    background-color: #24B124;
    color: #000000;
}
.re{
    position: relative;
    text-align: center;
}
.tex{
position: absolute;
top: 44%;
left: 42%;
transform: translate(-10%,-550%);
font-size: 26px;
color: #ebb6f1;
text-decoration: underline;
text-underline-offset: 7px;
}
.textee{
position: absolute;
top: 136%;
left: 43%;
transform: translate(-10%,-550%);
font-size: 70px;
color: #FFFA76;
}
.textt{
position: absolute;
bottom: 12%;
left: 63%;
transform: translateX(-50%);
font-size: 22px;
color: white;
font-style: italic; 
}
.er{
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}
.texx{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-10%,-50%);
    font-size: 26px;
    color: #5986D8;

}
.tee{
position: absolute;
top: 130%;
left: 59%;
transform: translate(-10%,-550%);
font-size: 70px;
color: #000000;
}
.ttt{
position: absolute;
bottom: 16%;
left: 73%;
transform: translateX(-50%);
font-size: 22px;
color:#AA6C14;
font-style: italic; 
}
.ok{
    position: relative;
    text-align: center;
}
.cpot{
    
    color: #A39D9D;
}
.popm{  
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%,-50%);
}
.mpop{  
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translateX(-50%,-50%);
}